@charset "UTF-8";
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.perfil {
    background-image: url(imagens/imagem-fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin: 100px 100px 100px 100px;
    width: 1000px;
    height: 500px;
}
.perfil-imagem { 
    width: 500px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.perfil-texto {
    width: 500px;
    border-radius: 20% 0;
    padding: 50px 40px;
    justify-content: left;
    color: black;
    font-style: italic;
    font-weight: bold;
    
    
}
h1 {
    background-color: rgb(88, 59, 27);
    text-align: center;
    padding: 10px;
}
.serviços-peim {
    border-radius: 50%;
}