@charset "UTF-8";
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #d6ccc8da;
    margin: 0px;
}
header {
    display: flex;
    padding: 0px;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
}
.menu-principal {
    display: flex;
    list-style: none;
}
.menu-principal li a {
    display: block;
    padding: 10px;
    background: rgba(48, 19, 19, 0.349);
    color: white;
    text-decoration: none;
    margin-left: 25px;
}
.perfil {
    background: rgba(48, 19, 19, 0.349);
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
}
main {
    background-color: white;
    padding: 15px;
    margin: 15px;
}
.perfil-texto {
    padding: 35px;
    margin: 0px;
    color: white;
    font-style: italic;
    text-align: justify;  
}
/*h1 {
    background-color: rgb(88, 59, 27);
    text-align: center;
    padding: 10px;
}
.serviços-peim {
    border-radius: 50%;
}*/
footer {
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}