@charset "UTF-8";
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
    max-width: 1024px;
    margin: 0 auto;
}
header {
    display: flex;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(48, 19, 19, 0.349);
}
.menu-principal {
    display: flex;
    list-style: none;
}
.menu-principal li a {
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    background: rgba(48, 19, 19, 0.349);
    color: white;
    text-decoration: none;   
}
.perfil {
    background-image: url(imagens/imagem-fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: auto;
    display: flex;
    align-items: center;
}
.perfil > aside {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 140px;
    color: black;
    font-style: italic;
    text-align: justify;  
}
.perfil > img {
    border-radius: 50%;
    height: 250px;
    margin-left: 20px;
    margin-top: 100px;
}
.serviços {
    background-color: rgba(48, 19, 19, 0.349);
    color: white;
    height: 400px;
}
h1 {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
.serviços-disponíveis {
    display: flex;
    height: 350px;
} 
h2 {
    font-size: 16px;
    margin-top: 0px;

}
#furo-humanizado {
    height: 350px;
    width: 340px;
    margin: 0px;
}
#cuidados-bebe {
    height: 350px;
    width: 340px;
}
#peim {
    height: 350px;
    width: 340px;
}

/*footer {
    color: black;
    text-align: center;
    padding: 1px;
    margin: 0px;
}*/